@font-face {
  font-family: Blox;
  src: url(../../assets/fonts/Blox2.ttf);
}

body {
	background: black;
	margin-top: 40px;
}

#hder {
		font-size: 4rem;
    color: red;
    text-decoration: none;
    font-family: Blox;
    letter-spacing: 7px;
    display: flex;
    justify-content: center;
}

#titleOfpage {
	color: red;
	font-size: 2.5rem;
	letter-spacing: 3px;
	font-family: Blox;
	text-align: center;
}

.al-content {
	margin-left: 15%;
	margin-right: 15%;
}
.content {
	color: #d0d0d0;
	text-align: left;
	font-size: 100%;
	padding-top: 2px;
	letter-spacing: 2px;
}