<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body>

  <a href="{{ "/about.html" | relative_url }}"><img src="{{ "/assets/images/barcode.png" | relative_url }}" id="abRd"></a>

  <div id="hder">
    <a  href="{{ "/index.html" | relative_url }}">Archive</a>
  </div>

  <div class="titles-container">
  <div class="title">
    <a href="{{ "/2022/09/10/God.html" | relative_url }}">God Concept</a>
  </div>
  <div class="title">
    <a href="{{ "/2022/10/09/SEFort.html" | relative_url }}">Storm Eye Fortress</a>
  </div>
  <div class="title">
    <a href="{{ "/2022/12/23/Soul.html" | relative_url }}">Soul Concept</a>
  </div>
</div> 

</body>
</html>